<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ElectroHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="row">
    <a href="/products" class="brand">ElectroHub</a>
    <a href="/carts/{{cartId}}" class="cart">🛒</a>
  </header>

  </header>

  {{{body}}}

  
  <footer class="muted">© 2025 ElectroHub</footer>

  <script src="/js/cart.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>